body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/Resource/jett1.png");
    background-size: cover;
    background-position: center;
    color: #1565c0;
    font-family: Baskerville, serif;
}

.contenedor {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Blanco con opacidad */
    padding: 30px; /* Reducción del padding */
    border-radius: 8px; /* Reducción del radio de borde */
    width: 80%; /* Reducción del ancho */
    max-width: 400px; /* Reducción del ancho máximo */
    height: 80vw; /* Reducción del alto */
    max-height: 500px; /* Reducción del alto máximo */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* Sombra más oscura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor h2 {
    margin-bottom: 20px;
    font-size: 24px; /* Ajuste del tamaño de fuente */
    color: #1565c0; /* Azul */
}

.contenedor h3 {
    margin-bottom: 10px;
    font-size: 18px; /* Ajuste del tamaño de fuente */
    color: #1565c0; /* Azul */
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #1565c0; /* Azul */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #0d47a1; /* Azul más oscuro */
}

#googlebtn,
#facebooklogin {
    width: 100%;
    font-size: 16px;
}

#googlebtn {
    background-color: #df0606; /* Rojo de Google */
    margin-bottom: 10px;
    order: -1; /* Cambia el orden visual para que aparezca primero */
}

#googlebtn:hover {
    background-color: #f24949; /* Rojo más oscuro de Google */
}

#facebooklogin {
    background-color: #12027e; /* Verde azulado de Facebook */
    margin-bottom: 10px;
}

#facebooklogin:hover {
    background-color: #00a3a0; /* Verde azulado más oscuro de Facebook */
}

.contenedor > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
